In [1]:
cars=['suzuki','bmw','kia','benz','audi','honda']

In [2]:
print(cars)

['suzuki', 'bmw', 'kia', 'benz', 'audi', 'honda']

In [3]:
len(cars)

6

In [4]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'honda', 'kia', 'suzuki']

In [5]:
print(cars) #original order of the list

['suzuki', 'bmw', 'kia', 'benz', 'audi', 'honda']

In [6]:
print(cars)

['suzuki', 'bmw', 'kia', 'benz', 'audi', 'honda']

In [7]:
print(cars)

['suzuki', 'bmw', 'kia', 'benz', 'audi', 'honda']

In [8]:
cars.reverse() #Changes are implemented permanetly

In [9]:
print(cars)

['honda', 'audi', 'benz', 'kia', 'bmw', 'suzuki']

In [10]:
my_students=['ghaleb','lakshmi','puneeth','tilak','surya','dinesh','bhaskar','srikant']

In [11]:
print(my_students)

['ghaleb', 'lakshmi', 'puneeth', 'tilak', 'surya', 'dinesh', 'bhaskar', 'srikant']

In [12]:
print(my_students[0:1])

['ghaleb']

In [13]:
print(my_students[0:2]) #should increment the index number 1 to include the previous element

['ghaleb', 'lakshmi']

In [14]:
print(my_students[2:4])

['puneeth', 'tilak']

In [15]:
print(my_students[4:6])

['surya', 'dinesh']

In [16]:
print(my_students[6:8])

['bhaskar', 'srikant']

In [17]:
print(my_students)

['ghaleb', 'lakshmi', 'puneeth', 'tilak', 'surya', 'dinesh', 'bhaskar', 'srikant']

In [18]:
print(my_students[0:8:2])

['ghaleb', 'puneeth', 'surya', 'bhaskar']

In [19]:
print(my_students[0:7])

['ghaleb', 'lakshmi', 'puneeth', 'tilak', 'surya', 'dinesh', 'bhaskar']

In [20]:
print(my_students[0:8:3])

['ghaleb', 'tilak', 'bhaskar']

In [22]:
print(my_students[0:8:7])

['ghaleb', 'srikant']

In [23]:
print(my_students)

['ghaleb', 'lakshmi', 'puneeth', 'tilak', 'surya', 'dinesh', 'bhaskar', 'srikant']

In [24]:
print(my_students[-2]) #Negative Indexing

bhaskar

In [25]:
print(my_students[6]) #Positive Indexing

bhaskar